<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575385173021-2a0dpbfidlprkok6a33fva3k652usue8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575385173021-2a0dpbfidlprkok6a33fva3k652usue8</string>
	<key>API_KEY</key>
	<string>AIzaSyDsbvyPLT4ywJiFfx2NPta3Gc-LVSjS6ac</string>
	<key>GCM_SENDER_ID</key>
	<string>575385173021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sokh</string>
	<key>PROJECT_ID</key>
	<string>shokh-e14d6</string>
	<key>STORAGE_BUCKET</key>
	<string>shokh-e14d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575385173021:ios:6712596f622e382900daf4</string>
</dict>
</plist>